EXPO_PUBLIC_SUPABASE_URL=<your-supabase-url>
EXPO_SECRET_SUPABASE_ANON_KEY=<your-supabase-anon-key>
EXPO_SECRET_LINKEDIN_CLIENT_SECRET=<your-linkedin-client-secret>
EXPO_PUBLIC_LINKEDIN_CLIENT_ID=<your-linkedin-client-id>
EXPO_PUBLIC_LINKEDIN_REDIRECT_URI=<your-linkedin-redirect-uri>

